x64/Release/HW2.tlog/link.read.1.tlog
x64/Release/HW2.tlog/link.command.1.tlog
Release/Triangle.obj
Release/Translation.obj
Release/Scaling.obj
Debug/HW2.tlog/link.command.1.tlog
Debug/HW2.tlog/HW2.lastbuildstate
Debug/HW2.tlog/CL.write.1.tlog
Debug/HW2.tlog/CL.read.1.tlog
Debug/HW2.tlog/CL.command.1.tlog
Debug/HW2.pdb
x64/Release/Vec4.obj
x64/Release/Vec3.obj
x64/Release/Triangle.obj
x64/Release/Translation.obj
x64/Release/Scene.obj
x64/Release/Scaling.obj
HW2.vcxproj
HW2.sln
Debug/vc142.pdb
Debug/vc142.idb
Debug/tinyxml2.obj
Debug/HW2.obj
Debug/HW2.log
Debug/HW2.ilk
Debug/HW2.exe
Debug/Color.obj
Debug/Camera.obj
Release/Main.obj
Release/Helpers.obj
Release/HW2.tlog/unsuccessfulbuild
Release/HW2.tlog/HW2.lastbuildstate
Release/HW2.tlog/CL.write.1.tlog
Debug/Matrix4.obj
Debug/Main.obj
Debug/Helpers.obj
Debug/HW2.tlog/unsuccessfulbuild
Debug/HW2.tlog/link.write.1.tlog
Debug/HW2.tlog/link.read.1.tlog
Release/HW2.tlog/CL.command.1.tlog
Release/HW2.log
Release/Color.obj
Release/Camera.obj
HW2.vcxproj.user
Debug/Vec3.obj
Debug/Triangle.obj
Debug/Translation.obj
Debug/Scaling.obj
Debug/Rotation.obj
Debug/Model.obj
x64/Release/HW2.tlog/HW2.write.1u.tlog
x64/Release/HW2.tlog/HW2.lastbuildstate
x64/Release/HW2.tlog/CL.write.1.tlog
x64/Release/HW2.tlog/CL.read.1.tlog
Release/Rotation.obj
Release/Model.obj
Debug/Vec4.obj
x64/Release/Rotation.obj
x64/Release/Model.obj
x64/Release/Matrix4.obj
x64/Release/Main.obj
x64/Release/Helpers.obj
x64/Release/Color.obj
x64/Release/Camera.obj
Release/Vec4.obj
Release/Vec3.obj
Release/HW2.tlog/CL.read.1.tlog
x64/Release/HW2.tlog/CL.command.1.tlog
x64/Release/HW2.pdb
x64/Release/HW2.log
x64/Release/HW2.ipdb
Release/vc142.pdb
Release/tinyxml2.obj
HW2.vcxproj.filters
x64/Release/vc142.pdb
x64/Release/tinyxml2.obj
x64/Release/HW2.iobj
x64/Release/HW2.exe
Release/Matrix4.obj
x64/Release/HW2.tlog/link.write.1.tlog
